#div_bg_dark{
    text-align: center !important;
}

#titlenavbar{
    color:white !important;
}

#pills-tab{
    padding-top: 1% !important;
}

#adminEmplo{

    margin: auto;
    background-color: rgb(207, 207, 207);
    border-color:rgb(27, 41, 202);
}

.container-fluid-navbar{
    width: 5%;
}

.container-fluid-menBar{
    width: 95%;
    text-align: center !important;
}

#registro{
    width: 30% !important;
    margin-left: 35%;
    margin-right: 35%;
}

#registro1{
    width: 100% !important;
}

#btn_registrar{
    background-color: darkgray;
    border-color:darkgrey;
}

#btns_registro{
    text-align: center;
    padding: 3%;
}

/*Estilo de gestorUsuario.html */

#buscarUsuario{
    width: 40% !important;
    display: inline-flex !important; /*Esto es para poder ajustarlo horizontal el contenedor junto con otro.*/
    justify-content: center !important; /*Esto es para ajustar un div dentro de otro, se debe indicar primero el display.*/
    
}

#datosUsuario{
    width: 60% !important;
    display: inline-flex !important;
    justify-content: center !important;
    border-left-style: solid;
}

#btn_eliminar, #eliminar{
    background-color: rgb(243, 110, 110);
    border-color: rgb(243, 110, 110);
}

#datosEmpleado{
    width: 60% !important;
    display: inline-flex !important;
    justify-content: center !important;
    border-left-style: solid;
}
/*Configurando mensajes alertas flask()*/

#alertas{
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
    font-size: 20px;
    color:rgb(245, 55, 96);

}

#btn_imprimir {
    background-color: rgb(36, 168, 69);
    border-color: rgb(36, 168, 69);
    
}

#btn_regresar {
    background-color: rgb(0, 0, 255);
    border-color: rgb(0, 0, 255);
    
}


#btn_exportar{
    background-color: rgb(0, 0, 255);
    border-color: rgb(0, 0, 255);
    
}

#listaEmpleados{

    font-size: 10px;
}
