<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
        <!--Librerias Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Libreria para el dropdowns-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!--Agregando libreri para modal-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="{{url_for('static',filename='js/script.js')}}"></script>

    <!--Agregando libreria para tablas0-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
    
    <!--
Librerias para funcionar el modal pero no funciona el dropdown
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    -->
</head>
<body>


    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4" id="div_bg_dark" style="text-align: center">
            <h5 class="text-white h4">Gestor de personal y usuarios</h5>
            <span class="text-muted">Aplicación para manejar al personal relacionado con la compañia</span>
            
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="padding-top: 1%" style="text-align: center;">
                
                <form action="{{url_for('funcionActividad')}}" method="POST" name="actividad">
                    <!-- para seleccionar el boton una vez se muestre la pagina debemos agregar en la clase un active -->
                    <li class="nav-item" role="presentation">
                        <button name="actividad" value="inicioSesion" class="{{class1}}" id="pills-inicioSesion-tab" data-bs-toggle="pill" data-bs-target="#pills-begin" type="submit" role="tab" aria-controls="pills-begin">Iniciar Sesion</button>
                    </li>
                </form>
                <form action="{{url_for('funcionActividad')}}" method="POST" name="actividad">
                    <li class="nav-item" role="presentation">
                        <!--El type del boton se elimino para eviatar que el que iniciara sesion lograra cambiar de pestaña.-->
                        <!-- Si le agregamos a la clase diseable se desactiva el boton-->
                        <button name="actividad" value="adminUser" class="{{class2}}" id="pills-adminUser-tab" data-bs-toggle="pill" data-bs-target="#pills-adminUser" type="submit" role="tab" aria-controls="pills-adminUser">Administrador de usuarios</button>
                    </li>
                </form>
                <form action="{{url_for('funcionActividad')}}" method="POST" name="actividad">
                    <li class="nav-item" role="presentation">
                        <button name="actividad" value="allUsers" class={{class3}} id="pills-allUsers-tab" data-bs-toggle="pill" data-bs-target="#pills-allUsers" type="submit" role="tab" aria-controls="pills-allUsers">Consultar usuarios</button>
                    </li>
                </form>
                <form action="{{url_for('funcionActividad')}}" method="POST" name="actividad">
                    <li class="nav-item" role="presentation">
                        <button name="actividad" value="adminEmplo" class={{class3}} id="pills-allUsers-tab" data-bs-toggle="pill" data-bs-target="#pills-allUsers" type="submit" role="tab" aria-controls="pills-allUsers">Gestión Empleados</button>
                    </li>
                </form>
                
            </ul>
            
        </div>
    </div>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="container-fluid-navbar" style="width: 5%;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          
          <div class="container-fluid-menBar" style="width: 95%; text-align: center !important;color:white">
            <h1 id="titlenavbar">{{mensaje}}</h1>
          </div>
          
        </div>
    </nav>
        

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-begin" role="tabpanel" aria-labelledby="pills-begin-tab">
            {% block begin %}{% endblock %}
        </div>
        <div class="tab-pane fade" id="pills-adminUser" role="tabpanel" aria-labelledby="pills-adminUser-tab">
            {% block adminUser %}{% endblock %}
        </div>
        <!-- para seleccionar o mostrar contenido una vez se muestre la pagina debemos agregar en la clase un show active -->
        <div class="tab-pane fade" id="pills-allUsers" role="tabpanel" aria-labelledby="pills-allUsers-tab">
            {% block allUsers %}{% endblock %}
        </div>
    </div>
    
    
</body>
</html>