{% extends 'base.html' %}

{% block begin %}


    <style> 
        table, th, td {
        border: 1px solid lightgray;
    }
    
    </style>

    <div class="container">
        <h2 style="padding: 1%;">Listado de Empleados</h2>
        <!--The .table class adds basic styling (light padding and only horizontal dividers) to a table:-->
        <p>Listado de empleados registrados activos en la plataforma</p>            
        <table class="table">
        <thead>
            <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Dirección</th>
            <th>Contrato</th>
            <th>Fecha Inicio</th>
            <th>Fecha Termino</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>Salario(COP)</th>
            <th>Frecuencia</th>

            </tr>
        </thead>
        {% for row in rows %}
            <tbody>
                <tr>
                <td>{{row["id"]}}</td>
                <td>{{row["usuario"]}}</td>
                <td>{{row["nombre"]}}</td>
                <td>{{row["genero"]}}</td>
                <td>{{row["direccion"]}}</td>
                <td>{{row["Contrato"]}}</td>
                <td>{{row["fechaInicio"]}}</td>
                <td>{{row["fechaTermino"]}}</td>
                <td>{{row["cargo"]}}</td>
                <td>{{row["departamento"]}}</td>
                <td>{{row["salario"]}}</td>
                <td>{{row["frecuencia"]}}</td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
        
    </div>
    
    <!--</html>-->
    <center colspan="2"><div>
            <form action="/consultaEmpleados">
                <button type="submit" class="btn btn-primary" id="btn_regresar">Consultar</button>
            </form>
            <button type="submit" class="btn btn-primary" id="btn_imprimir" >
                <a href = "/adminEmplo">Regresar</a>
            </button>
            <form action="/">
                <button type="submit" class="btn btn-primary" id="btn_eliminar">Cerrar</button>
            </form>
            <form>
                <button type="submit" class="btn btn-primary" id="btn_regresar">Exportar</button>
            </form>
    </div></center>

{% endblock %}