{% extends 'base.html' %}

{% block begin %}


    <style> 
        table, th, td {
        border: 1px solid lightgray;
    }
    
    </style>

    <div class="container">
        <h2 style="padding: 1%;">Listado de Empleados</h2>
        <!--The .table class adds basic styling (light padding and only horizontal dividers) to a table:-->
        <p>Listado de empleados registrados activos en la plataforma</p>            
        <table class="table">
        <thead>
            <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Dirección</th>
            <th>Contrato</th>
            <th>Fecha Inicio</th>
            <th>Fecha Termino</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>Salario(COP)</th>
            <th>Frecuencia</th>

            </tr>
        </thead>
        {% for row in rows %}
            <tbody>
                <tr>
                <td>{{row["id"]}}</td>
                <td>{{row["user"]}}</td>
                <td>{{row["name"]}}</td>
                <td>{{row["gender"]}}</td>
                <td>{{row["address"]}}</td>
                <td>{{row["contract"]}}</td>
                <td>{{row["fechaInicio"]}}</td>
                <td>{{row["fechaTermino"]}}</td>
                <td>{{row["cargo"]}}</td>
                <td>{{row["departamento"]}}</td>
                <td>{{row["salario"]}}</td>
                <td>{{row["frecuencia"]}}</td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
        <a href = "/">Go back to home page</a>
    </div>
    
    <!--</html>-->
    <div>
        <div id="btns_registro">
            <button type="submit" class="btn btn-primary" id="btn_regresar" >Regresar</button>
            <button type="submit" class="btn btn-primary" id="btn_eliminar">Cerrar</button>
            <button type="submit" class="btn btn-primary" id="btn_imprimir">Exportar</button>
        </div>
    </div>

{% endblock %}